<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main-content">

            {{> header}}
    
           <P> Site para ver o tempo </P>
            <form>
                <input placeholder="Localizacione">
                <button>Botão de Pesquisa</button>
            </form>

            <p id="message-one"></p>
            <p id="message-two"></p>
        </div>
        
        {{> footer}}

    <script src="/js/webServer.js"></script>
    </body>


</html>